@media screen and (min-width:320px) and (max-width:800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    .header {
        display: flex;
        justify-content: center;
        background: #F5F5F6;
        height: 10%;

        margin-bottom: 6vw;
    }

    .navbar {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pages {
        width: 50%;
        height: 105.5%;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 4vw;
        line-height: 200%;
        letter-spacing: 0.06em;
        background-color: #c4c4c4;
    }

    .pages a {
        color: #959BA4;
        transition: 0.4s ease;
    }

    .pages a:hover {
        cursor: pointer;
        font-style: bold;
        color: black;
    }

    .login{
        width: 50%;
        text-align: center;
        border-radius: 1vw;
        display: block;
        background: #833AE0;

    }
    .login a{
        color: #ffffff;
    }

    .nav-left img {
        width: 25vw;
    }

    #hamburger {
        display: flex;
        /* display: none; */
        width: 100%;
        height: 100%;
        margin-right: 1.5vw;
        align-items: center;
        justify-content: flex-end;
        border: none;
        outline: none;
        background: none;

    }
    #hamburger i{
        color: #833AE0;
        font-size:xx-large;
    }

    #close-menu {
        width: 100%;
        padding: 1.5vw 2.5vw 0 0;
        display: flex;
        justify-content: flex-end;
        border: none;
        outline: none;
        background: none;
    }
    #close-menu i{
        color: #833AE0;
        font-size:xx-large;
    }
    .login-btn {
        height: 35%;
        display: none;
        /* display: flex; */
        justify-content: center;
        align-items: center;

    }

    .login-btn button {
        width: 7vw;
        height: 4vw;
        border: none;
        background: none;
        font-weight: 500;
        font-size: 3vw;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;

        color: #000000;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-text {
        font-weight: 700;
        font-size: 6vw;
        line-height: 6vw;

        color: #000000;
    }

    .conventor {
        width: 56vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .convert {
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
    }

    .convert h4 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 2vw;
        margin-bottom: 0.5vw;
        color: #9F9F9F;
    }

    .currencies {
        width: 50vw;
        height: 6vw;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        border: 1px solid #E5E5E5;
        border-radius: 0.35vw;
        margin-bottom: 2vw;
    }

    .currencies button {
        width: 25%;
        border: none;
        border-right: 1px solid #E5E5E5;
        outline: none;
        font-size: 2.5vw;
        line-height: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.5s ease;
        color: #C6C6C6;
    }

    .activated {
        background: #833AE0;
    }

    .currencies button:first-child {
        border-radius: 0.3vw 0 0 0.3vw;
    }

    .currencies button:last-child {
        border-radius: 0 0.3vw 0.3vw 0;
    }

    .currencies button:hover {
        cursor: pointer;
        background: #833AE0;
    }

    .input {
        width: 50vw;
        height: 20vw;
        border: 1px solid #E5E5E5;
        border-radius: 0.5vw;
        padding: 1.2vw 0 0 1.2vw;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .input input {
        border: none;
        outline: none;
        width: 30vw;
        height: 7vw;
        font-weight: 700;
        font-size: 5vw;
        line-height: 4vw;
        padding: 0.5vw;
        color: #000000;
        margin-bottom: 8vw;

    }

    .info {
        font-weight: 400;
        font-size: 3vw;
        line-height: 1.2vw;
        color: #C6C6C6;
    }
}